# 제1유형

## 1번

In [28]:
import numpy as np
import pandas as pd

df = pd.read_csv("../Dataset/airquality.csv")

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Ozone    116 non-null    float64
 1   Solar.R  146 non-null    float64
 2   Wind     153 non-null    float64
 3   Temp     153 non-null    int64
 4   Month    153 non-null    int64
 5   Day      153 non-null    int64
dtypes: float64(3), int64(3)
memory usage: 7.3 KB

In [30]:
mean_1 = np.mean(df['Ozone'])

In [31]:
df['Ozone'] = df['Ozone'].fillna(0)
mean_2 = np.mean(df['Ozone'])

In [32]:
mean_1 - mean_2

np.float64(10.188133874239352)

## 2번

In [33]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
df['Wind1'] = scaler.fit_transform(df[['Wind']])

In [34]:
mean = np.average(df['Wind'])
std = np.std(df['Wind'])

df['Wind2'] = (df['Wind'] - mean) / std

In [39]:
float(np.average(df['Wind1']) - np.average(df['Wind2']))

0.4346061231510147

## 3번

In [41]:
df.groupby('Month')['Temp'].mean()

Month
5    65.548387
6    79.100000
7    83.903226
8    83.967742
9    76.900000
Name: Temp, dtype: float64

# 제2유형

In [42]:
import numpy as np
import pandas as pd
import sklearn

df = pd.read_csv("../Dataset/Bank_Personal_Loan_Modeling.csv")

In [44]:
df.shape

(5000, 14)

In [45]:
df.head(10)

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1
5,6,37,13,29,92121,4,0.4,2,155,0,0,0,1,0
6,7,53,27,72,91711,2,1.5,2,0,0,0,0,1,0
7,8,50,24,22,93943,1,0.3,3,0,0,0,0,0,1
8,9,35,10,81,90089,3,0.6,2,104,0,0,0,1,0
9,10,34,9,180,93023,1,8.9,3,0,1,0,0,0,0

In [47]:
df = df.dropna().drop(['ID', 'ZIP Code'], axis=1, inplace=False)

In [50]:
X = df.drop('Personal Loan', axis=1)
y = df['Personal Loan']

In [52]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, stratify=y, train_size=0.7, test_size=0.3, random_state=1234)

In [55]:
import sklearn.preprocessing as preprocessing

preprocessor = preprocessing.Normalizer()
X_train = preprocessor.fit_transform(X_train)
X_test = preprocessor.fit_transform(X_test)

In [58]:
from sklearn import metrics
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.neighbors import KNeighborsClassifier

training_accuracy = []
test_accuracy = []

neighbors_settings = range(1, 25)

for n_neighbors in neighbors_settings:
    clf = KNeighborsClassifier(n_neighbors=n_neighbors)
    clf.fit(X_train, y_train)

    training_accuracy.append(clf.score(X_train, y_train))

    test_accuracy.append(clf.score(X_test, y_test))

In [59]:
test_accuracy

[0.9213333333333333,
 0.9213333333333333,
 0.9246666666666666,
 0.92,
 0.926,
 0.916,
 0.9166666666666666,
 0.9173333333333333,
 0.9166666666666666,
 0.918,
 0.916,
 0.914,
 0.914,
 0.91,
 0.914,
 0.9093333333333333,
 0.91,
 0.908,
 0.908,
 0.9093333333333333,
 0.9093333333333333,
 0.9073333333333333,
 0.9073333333333333,
 0.9086666666666666]

# 제3유형

In [60]:
import pandas as pd
import scipy.stats as stats

df = pd.read_csv("../Dataset/airquality.csv")

In [61]:
temp_avg = df['Temp'].mean()
round(temp_avg, 2)

np.float64(77.88)

In [67]:
tscore, pvalue = stats.ttest_1samp(df['Temp'], 77)
print(round(tscore, 2))

1.15

In [ ]:
print(round(pvalue, 4))

if round(pvalue, 4) < 0.05:
    print("H_0 기각")
else:
    print("H_0 기각 실패")

0.2507
H_0 기각 실패