In [ ]:
# 1유형
import pandas as pd

airquality = pd.read_csv("../Dataset/airquality.csv")

In [2]:
airquality.isnull().sum()

Ozone      37
Solar.R     7
Wind        0
Temp        0
Month       0
Day         0
dtype: int64

In [3]:
mean1 = airquality['Ozone'].mean(skipna=True)

In [4]:
airquality['Ozone'] = airquality['Ozone'].fillna(0)

In [5]:
mean2 = airquality['Ozone'].mean()

In [6]:
print(mean1 - mean2)

10.188133874239352

In [8]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler

scaler1 = MinMaxScaler()
scaler2 = StandardScaler()

airquality['Wind_minmax'] = scaler1.fit_transform(airquality[['Wind']])
airquality['Wind_standard'] = scaler2.fit_transform(airquality[['Wind']])


print(abs(airquality['Wind_minmax'].mean() - airquality['Wind_standard'].mean()))

0.4346061231510147

In [10]:
airquality.groupby('Month')['Temp'].mean()

Month
5    65.548387
6    79.100000
7    83.903226
8    83.967742
9    76.900000
Name: Temp, dtype: float64

In [48]:
# 2유형
bank = pd.read_csv("../Dataset/Bank_Personal_Loan_Modeling.csv")

In [49]:
bank.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  5000 non-null   int64
 1   Age                 5000 non-null   int64
 2   Experience          5000 non-null   int64
 3   Income              5000 non-null   int64
 4   ZIP Code            5000 non-null   int64
 5   Family              5000 non-null   int64
 6   CCAvg               5000 non-null   float64
 7   Education           5000 non-null   int64
 8   Mortgage            5000 non-null   int64
 9   Personal Loan       5000 non-null   int64
 10  Securities Account  5000 non-null   int64
 11  CD Account          5000 non-null   int64
 12  Online              5000 non-null   int64
 13  CreditCard          5000 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 547.0 KB

In [50]:
bank.head(10)

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1
5,6,37,13,29,92121,4,0.4,2,155,0,0,0,1,0
6,7,53,27,72,91711,2,1.5,2,0,0,0,0,1,0
7,8,50,24,22,93943,1,0.3,3,0,0,0,0,0,1
8,9,35,10,81,90089,3,0.6,2,104,0,0,0,1,0
9,10,34,9,180,93023,1,8.9,3,0,1,0,0,0,0

In [51]:
bank = bank.drop(labels=['ID', 'ZIP Code'], axis=1)

In [52]:
bank.isnull().sum()

Age                   0
Experience            0
Income                0
Family                0
CCAvg                 0
Education             0
Mortgage              0
Personal Loan         0
Securities Account    0
CD Account            0
Online                0
CreditCard            0
dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split

X = bank.drop(labels=['Personal Loan'], axis=1)
y = bank['Personal Loan']

X_train, X_test, y_train, y_test = train_test_split(X, y, stratify = y, random_state=1111, test_size=0.3)

In [61]:
from sklearn.preprocessing import Normalizer
scaler = Normalizer()
X_train = scaler.fit_transform(X_train)
X_test = scaler.fit_transform(X_test)

from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

training_acc = []
test_acc = []

for i in range(1, 25):
    classifier = KNeighborsClassifier(n_neighbors = i)
    classifier.fit(X_train, y_train)

    training_acc.append(classifier.score(X_train, y_train))
    test_acc.append(classifier.score(X_test, y_test))

In [62]:
test_acc

[0.92,
 0.92,
 0.9193333333333333,
 0.922,
 0.922,
 0.9153333333333333,
 0.9153333333333333,
 0.9173333333333333,
 0.918,
 0.9206666666666666,
 0.924,
 0.9146666666666666,
 0.9146666666666666,
 0.9126666666666666,
 0.912,
 0.914,
 0.9106666666666666,
 0.9086666666666666,
 0.9106666666666666,
 0.9093333333333333,
 0.91,
 0.9093333333333333,
 0.91,
 0.9093333333333333]

In [63]:
df = pd.read_csv("../Dataset/HR-Employee-Attrition.csv")

In [67]:
table = pd.crosstab(df['OverTime'], df['MaritalStatus'])
table

MaritalStatus  Divorced  Married  Single
OverTime
No                  228      487     339
Yes                  99      186     131

In [68]:
from scipy.stats import chi2_contingency

chi2, p, df, expected = chi2_contingency(table)

chi2

np.float64(0.8167212449486526)

In [71]:
pval = round(p, 4)
print(pval)
if pval < 0.05:
    print("H0 기각") 
else : 
    print("H0 기각 불가")

0.6647
H0 기각 불가

# 2회차

In [72]:
import pandas as pd
df = pd.read_csv("../Dataset/data_6_1_1.csv")

In [74]:
df.head(10)

    구급대                 출동시간                 도착시간
0  구급대8  2020-07-10 06:11:45  2020-07-10 06:52:06
1  구급대9  2020-07-13 06:12:21  2020-07-13 07:58:59
2  구급대1  2020-07-06 06:12:29  2020-07-06 07:51:55
3  구급대5  2020-07-21 06:11:41  2020-07-21 08:08:36
4  구급대1  2020-07-29 06:12:00  2020-07-29 07:24:21
5  구급대6  2020-07-10 06:12:24  2020-07-10 06:30:45
6  구급대9  2020-07-13 06:11:50  2020-07-13 06:44:00
7  구급대8  2020-07-12 06:11:52  2020-07-12 07:06:15
8  구급대9  2020-07-10 06:11:40  2020-07-10 07:49:21
9  구급대3  2020-07-21 06:11:36  2020-07-21 07:15:18

In [75]:
df['도착시간'] = pd.to_datetime(df['도착시간'])
df['출동시간'] = pd.to_datetime(df['출동시간'])

In [86]:
df['이동시간'] = df['도착시간'] - df['출동시간']
df['이동시간'] = df['이동시간'].dt.total_seconds() / 60

In [87]:
group_mean = df.groupby('구급대')['이동시간'].mean()

In [89]:
round(max(group_mean))

83

In [91]:
df = pd.read_csv("../Dataset/data_6_1_2.csv")

In [92]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   대학교명    50 non-null     object
 1   교수      50 non-null     int64
 2   경영학과    50 non-null     int64
 3   경제학과    50 non-null     int64
 4   컴퓨터공학과  50 non-null     int64
 5   산업공학과   50 non-null     int64
 6   국문학과    50 non-null     int64
 7   영문학과    50 non-null     int64
dtypes: int64(7), object(1)
memory usage: 3.3+ KB

In [97]:
df.head()

   대학교명  교수  경영학과  경제학과  컴퓨터공학과  산업공학과  국문학과  영문학과
0  대학교1  20   121    72     158    131    77    59
1  대학교2  31   178   139     145    137    63    90
2  대학교3  23   136   139     154    111    91    50
3  대학교4  32    72   136      67     51   133   159
4  대학교5  22    61    73      86     82    55   124

In [98]:
df['학생/교수'] = (df['경영학과'] + df['경제학과'] + df['컴퓨터공학과'] + df['국문학과'] + df['산업공학과'] + df['영문학과']) / df['교수']

In [113]:
index = df['학생/교수'].idxmax()

In [119]:
df.iloc[index, 1]

np.int64(22)

In [121]:
df = pd.read_csv("../Dataset/data_6_1_3.csv")

In [122]:
df.head(10)

          날짜  폭력범죄  지능범죄  교통범죄  절도범죄  경제범죄  정치범죄 주요검찰청명
0  2018년 01월    28   127    90    73    33   202   검찰청1
1  2018년 02월    16   137    72    80    30   180   검찰청5
2  2018년 03월    29   140    70    79    34   211   검찰청5
3  2018년 04월    10   140    90    65    31   184   검찰청1
4  2018년 05월    11   138    70    75    35   190   검찰청1
5  2018년 06월    30   128    78    74    34   216   검찰청5
6  2018년 07월    21   128    84    69    31   181   검찰청1
7  2018년 08월    26   120    86    76    33   188   검찰청5
8  2018년 09월    11   117    86    65    33   192   검찰청5
9  2018년 10월    12   117    86    67    28   200   검찰청5

In [123]:
df['총 범죄'] = df['경제범죄'] + df['교통범죄'] + df['절도범죄'] + df['정치범죄'] + df['지능범죄'] + df['폭력범죄']

In [124]:
df['연도'] = df['날짜'].str[:4]

In [128]:
group_mean = df.groupby('연도')['총 범죄'].mean()
group_mean

연도
2018    527.333333
2019    520.500000
2020    514.916667
2021    528.333333
2022    524.416667
Name: 총 범죄, dtype: float64

In [129]:
print(round(group_mean.max()))

528

In [42]:
import pandas as pd

train = pd.read_csv("../Dataset/data_6_2_train.csv")
test = pd.read_csv("../Dataset/data_6_2_test.csv")

In [43]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 530 entries, 0 to 529
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   일평균수면시간      530 non-null    float64
 1   일평균학습시간      530 non-null    float64
 2   일평균스마트폰사용시간  530 non-null    float64
 3   키            530 non-null    object
 4   몸무게          530 non-null    float64
 5   체격           530 non-null    object
 6   기초대사량        530 non-null    float64
 7   거주지역         530 non-null    object
 8   구분           530 non-null    object
dtypes: float64(5), object(4)
memory usage: 37.4+ KB

In [44]:
train.head(10)

   일평균수면시간  일평균학습시간  일평균스마트폰사용시간      키     몸무게  체격   기초대사량 거주지역    구분
0     7.35     7.74          4.8   Tall  52.050   L  1499.4   동구  고등학생
1     7.05     8.10          1.2   Tall  51.300   M  1624.4   서구   중학생
2     7.35     7.74          3.0   Tall  51.285   L  1499.4   동구  고등학생
3     8.58     6.66          4.8  Short  25.545  XS  1249.5   서구  초등학생
4     7.05     8.10          4.8   Tall  54.150   M  1624.4   서구   대학생
5     8.58     6.66          4.8  Short  25.050  XS  1249.5   서구  초등학생
6     7.05     8.10          1.2   Tall  44.880   M  1624.4   서구  고등학생
7     8.58     6.66          4.8  Short  25.980  XS  1249.5   서구  초등학생
8     7.05     8.10          3.0   Tall  56.580   M  1624.4   서구  고등학생
9     8.58     6.66          1.2  Short  20.295  XS  1249.5   서구  유치원생

In [45]:
targetVal = train.pop('구분')

In [48]:
from sklearn.model_selection import train_test_split

train = pd.get_dummies(train)
test = pd.get_dummies(test)

train_X, valid_X, train_y, valid_y = train_test_split(train, targetVal, test_size=0.2, random_state=0)

In [50]:
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier()
classifier.fit(train_X, train_y)

RandomForestClassifier()

In [51]:
y_pred = classifier.predict(valid_X)

In [53]:
from sklearn.metrics import f1_score
f1_score(valid_y, y_pred, average='macro')

np.float64(0.9087301587301588)

In [54]:
pred_test = classifier.predict(test)
result = pd.DataFrame({'pred' : pred_test})
result

     pred
0    고등학생
1    초등학생
2     중학생
3    유치원생
4    고등학생
..    ...
225  초등학생
226  초등학생
227  고등학생
228  고등학생
229  초등학생

[230 rows x 1 columns]

In [2]:
import pandas as pd

# 주어진 데이터를 입력
df = pd.DataFrame({"항암제" : ['무증상', '속쓰림', '무증상', '무증상', '조금아픔', '무증상', '조금아픔', '무증상', '조금아픔', '무증상', '아픔', '무증상', '조금아픔', '무증상', '아픔', '무증상', '속쓰림', '무증상', '아픔', '무증상']})

In [3]:
print(len(df[df['항암제'] == '무증상']) / len(df['항암제']))

0.55

In [11]:
from scipy import stats

total = len(df['항암제'])
val1 = df['항암제'].value_counts().to_list()
val2 = [total * 0.7, total * 0.1, total * 0.05, total * 0.15]

stats, pval = stats.chisquare(val1, val2)
print(stats)

6.976190476190475